<div class="wrapper">
    <div class="page-title">プラグインのインストールの手順</div>
    <p>1. まず、crxをダウンロードします。</p>
    <a class="btn-download" target="_blank" ng-href="{{ext.api.host[ext.api.env]}}extension/crx/biboro_chrome.crx"><i class="fa fa-download"></i> プラグインをダウロード</a>
    <p>2. <a href="chrome://extensions/">chrome://extensions/</a>にて、拡張機能のページを開いてください。</p>
    <p>3. 先ほどダウンロードしたcrxファイルをドラッグ＆ドロップしてください。</p>
    <p>4. 「Biboro ビボロ」を追加しますか？というボックスが表示され、「拡張機能を追加」ボタンを押してください。</p>
    <p>これでインストールは完了します</p>
</div>