<div ng-if="snippetCtrl.notfound">
    <div class="page-meta">
        <div class="page-title">404 NOT FOUND</div>
    </div>
</div>
<div ng-if="!snippetCtrl.notfound" class="snippet-page wrapper">
    <div class="page-meta">
        <div class="page-title" ng-bind="snippetCtrl.currentSnippet.title"></div>
        <div class="page-author" ng-if="snippetCtrl.currentSnippet.creator.id !== snippetCtrl.account.getUserId()">By <span ng-bind="snippetCtrl.currentSnippet.creator.name"></span></div>
    </div>

    <div class="tools">
        <button ng-if="snippetCtrl.currentSnippet.editable" ng-click="snippetCtrl.editSnippet()">
            <i class="fa fa-wrench"></i><br/>
            <small class="no-mb">{{CMD_KEY}}+E</small>
        </button>
        <button ng-if="!snippetCtrl.currentSnippet.editable" ng-click="snippetCtrl.forkSnippet()">
            <i class="fa fa-code-fork"></i>
        </button>
        <button ng-if="snippetCtrl.currentSnippet.editable" ng-click="snippetCtrl.deleteSnippet()">
            <i class="fa fa-trash-o"></i><br/>
            <small class="no-mb">{{CMD_KEY}}+DEL</small>
        </button>
    </div>

    <div ng-bind-html="snippetCtrl.markdown.parseMd(snippetCtrl.currentSnippet.content)" class="html-content"></div>

    <div class="reference" ng-if="snippetCtrl.currentSnippet.reference != null">
        <a target="_blank" ng-if="snippetCtrl.currentSnippet.reference.method === 2" ng-href="{{snippetCtrl.currentSnippet.reference.target}}">参照サイト
            &nbsp;<span ng-bind="snippetCtrl.currentSnippet.referenceDomain"></span>
        </a>
        <a ng-if="snippetCtrl.currentSnippet.reference.method === 1" ui-sref="snippet({snippet: snippetCtrl.currentSnippet.reference.target})"><i class="fa fa-code-fork"></i> フォーク記事の元
        </a>
    </div>
</div>
<div ng-if="!snippetCtrl.notfound" class="gray-section">
    <div class="snippet-page wrapper">
        <h3 class="title">コメント</h3>
        <comment snippet="snippetCtrl.currentSnippet"></comment>
    </div>
</div>

<dialog
    open
    ng-if="snippetCtrl.deleteDialog.show"
    outside-clicked-callback="snippetCtrl.deleteDialog.outsideClickedCallback" >
    <div ng-include="'app/components/snippet/snippet.deleteDialog.html'"></div>
</dialog>

<!--

<editor
    ng-if="snippetCtrl.editor.show"
    type="snippetCtrl.editor.type"
    headline="スニペットを編集"
    title="snippetCtrl.editor.title"
    content="snippetCtrl.editor.content"
    tags="snippetCtrl.editor.tags"
    selected-workbook="snippetCtrl.editor.workbook"
    workbooks="snippetCtrl.workbook.getAll()"
    saved-callback="snippetCtrl.editorSavedCallback()"
    quit-callback="snippetCtrl.editorQuitCallback()"
    cancel-callback="snippetCtrl.editorCancelCallback()" >
</editor>

 -->
