<nav class="navbar clearfix">

    <a ui-sref="workbook" class="logo">
        <img src="assets/images/logo_white.png" alt="BIBORO logo">
    </a>


    <tabs
        ng-if="navbar.showWorkbookListFlag"
        class="workbook-tabs"
        ng-model="navbar.selectedWorkbook"
        panes="navbar.workbook.getAll()"
        selected-callback="navbar.selectedPaneCallback"
        >
        <!-- <li ng-repeat="wb in navbar.workbooks">
            <a ng-bind="wb.title" ui-sref-active="active" ui-sref="workbookShow({workbook: wb.id})"></a>
        </li> -->
    </tabs>

    <div class="menu-tools" ng-if="navbar.accountInfo == null">
        <a class="menu-item" ng-click="navbar.account.signIn()"><i class="fa fa-sign-in"></i></a>
    </div>
    <div class="menu-tools" ng-if="navbar.accountInfo != null">
        <div class="menu-item">
            <a ng-click="navbar.showNotificationBoard()">
                <img ng-if="navbar.notification.haveUnreadNotice()" class="icon" src="assets/images/ic_info_green.png">
                <img ng-if="!navbar.notification.haveUnreadNotice()" class="icon" src="assets/images/ic_info_white.png">
            </a>
        </div>
        <div class="menu-item">
            <a ng-click="navbar.newSnippet()">
                <img class="icon icon-plus" src="assets/images/ic_plus_white.png">
                <small>{{CMD_KEY}}+B</small>
            </a>
        </div>
        <div class="menu-item">
            <a ng-click="navbar.collapseMenuShow = !navbar.collapseMenuShow">
                <img ng-if="navbar.account.getProfileImage() === null" class="icon" src="assets/images/ic_menu_white.png">
                <div ng-if="navbar.account.getProfileImage() !== null" class="profile-image">
                    <img ng-src="{{navbar.account.getProfileImage()}}">
                </div>
            </a>
            <ul ng-if="navbar.collapseMenuShow" class="menu-collapse">
                <!-- <li>
                    <a href="/a">
                        <span class="underline">プロフィール</span>
                    </a>
                </li> -->
                <li ng-if="!navbar.extension.isInstalled()"><a href="https://chrome.google.com/webstore/detail/biboro-%E3%83%93%E3%83%9C%E3%83%AD/lanknlbnpppemclniodgpipofjjklijo?hl=ja" target="_blank">Chrome拡張子をダウンロード</a></li>
                <li ng-if="navbar.extension.isInstalled()" class="disable"><span>Chrome拡張がインストール済み</span></li>
                <li ng-click="navbar.dndDialog.show = true"><span>タブ管理</span></li>
                <li ng-click="navbar.feedbackShow = true">
                    <span>フィードバック</span>
                </li>
                <li ng-click="navbar.account.signOut()">
                    <span class="underline">ログアウト</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<dialog
    open
    ng-if="navbar.notificationBoardShow"
    outside-clicked-callback="navbar.closeNotificationDialog">
    <h3 style="text-align: center;">通知</h3>
    <ul class="notification">
        <li ng-repeat="n in navbar.notification.getAll()"
            ng-class="{read: n.read}"
            class="clearfix"
            ng-click="navbar.moveToTarget(n)" >
            <div class="profile">
                <div ng-if="n.by_user.profile_image.length > 0" class="profile-image">
                    <img ng-src="{{n.account.profile_image}}">
                </div>
                <div ng-if="n.by_user.profile_image.length === 0" class="profile-image">
                    <img src="assets/images/default-user-image.png" alt="default-image">
                </div>
                <div class="name">{{n.by_user.name}}</div>
            </div>
            <div class="description-inner-wrappper">
                <div class="description" ng-bind-html="n.description"></div>
                <div class="time">{{n.created_at.substring(0,n.created_at.indexOf(" "))}}</div>
            </div>
        </li>
    </ul>
</dialog>

<dialog
    open
    ng-if="navbar.feedbackShow"
    outside-clicked-callback="navbar.closeDialog">
    <div>フィードバックシート</div>
    <textarea ng-model="navbar.feedbackContent"></textarea>
    <button ng-click="navbar.sendFeedback()">送信</button>
</dialog>



<div ng-if="navbar.collapseMenuShow" ng-click="navbar.collapseMenuShow = false" class="menu-collapse-background"></div>

<dialog
    open
    ng-if="navbar.dndDialog.show"
    class="dnd-dialog"
    outside-clicked-callback="navbar.closeDialog">

    <p>タブ管理 (ドラッグ＆ドロップで順番を調整)</p>
    <ul dnd-list="navbar.dndDialog.list">
        <!-- The dnd-draggable directive makes an element draggable and will
             transfer the object that was assigned to it. If an element was
             dragged away, you have to remove it from the original list
             yourself using the dnd-moved attribute -->
        <li ng-repeat="item in navbar.dndDialog.list"
            dnd-draggable="item"
            dnd-moved="navbar.dndDialog.list.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="navbar.dndDialog.selected = item"
            ng-class="{'selected': navbar.dndDialog.selected === item}"
            >
            {{item.title}}
        </li>
    </ul>
    <button ng-click="navbar.dndDialogSubmit()">順番を更新</button>
</dialog>
