<nav class="navbar clearfix">
      
    <a ui-sref="workbook" class="logo">
        <img src="assets/images/logo_blue.png" alt="BIBORO logo">
    </a>

    
    <tabs 
        ng-if="navbar.showWorkbookListFlag" 
        class="workbook-tabs"
        ng-model="navbar.selectedWorkbook" 
        panes="navbar.workbooks" 
        selected-callback="navbar.selectedPaneCallback"
        >
        <!-- <li ng-repeat="wb in navbar.workbooks">
            <a ng-bind="wb.title" ui-sref-active="active" ui-sref="workbookShow({workbook: wb.id})"></a>
        </li> -->
    </tabs>

    <div class="menu-tools" ng-if="navbar.accountInfo == null">
        <a ng-click="navbar.account.signIn()"><i class="fa fa-sign-in"></i></a>
    </div>
    <div class="menu-tools" ng-if="navbar.accountInfo != null">
        <div class="menu-item"><a ng-click="navbar.newSnippet()"><i class="fa fa-plus"></i></a></div>
        <div class="menu-item">
            <a ng-click="navbar.profileMenuShow = !navbar.profileMenuShow">
                <i ng-if="navbar.account.getProfileImage() === null" class="fa fa-user"></i>
                <div ng-if="navbar.account.getProfileImage() !== null" class="profile-image">
                    <img ng-src="{{navbar.account.getProfileImage()}}">
                </div>
            </a>
            <ul ng-if="navbar.profileMenuShow" class="menu-collapse">
                <li>
                    <a href="/a">
                        <span class="underline">プロフィール</span>
                    </a>
                </li>
                <li ng-click="navbar.account.signOut()">
                    <span class="underline">ログアウト</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-if="navbar.profileMenuShow" ng-click="navbar.profileMenuShow = false" class="menu-collapse-background"></div>

<nav class="navbar-sp">

</nav>


<editor
    ng-if="navbar.editor.show"
    title="navbar.editor.title" 
    content="navbar.editor.content"
    tags="navbar.editor.tags"
    selected-workbook="navbar.editor.workbook"
    workbooks="navbar.workbooks"
    saved-callback="navbar.editorSavedCallback()"
    quit-callback="navbar.editorQuitCallback()"
    cancel-callback="navbar.editorCancelCallback()" >
</editor> 