<nav class="navbar">
      
    <a ui-sref="workbook" class="logo">
        <img src="assets/images/logo.png" alt="BIBORO logo">
    </a>

    <div class="terminal-block">
        <tags-input ng-model="navbar.tags">
            <auto-complete source="navbar.loadTags($query)"></auto-complete>
        </tags-input>
    </div>
    

    <div class="user-block">
        <a ng-if="navbar.accountInfo == null" ui-sref="account({action: 'signin', currentPath: window.location.pathname})">ログイン</a>
        <a 
            ng-if="navbar.accountInfo != null" 
            ng-bind="navbar.accountInfo.name"
            ui-sref="account({action: 'signout', currentPath: window.location.pathname})">
        </a>
    </div>
</nav>
