
.editor {

    /* remove default styles */
    background-color: transparent !important;
    border: 0 !important;    
    

    .editor-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 200;
        opacity: 0.6;    
    }

    .editor-content {
        position: fixed;
        padding: 10px 30px;
        background: white;
        border-radius: 5px;
        min-height: 180px;
        top: 30px;
        z-index: 201;
        width: 900px;
        left: calc(50% - 450px);

        @media(max-width: $desktop-width) {
            width: 720px;
            left: calc(50% - 360px);            
        }

        @media(max-width: $tablet-width) {
            width: 460px;
            left: calc(50% - 230px);            
        }

        @media(max-width: $phone-width) {
            width: auto;
            left: 10px;
            right: 10px;               
        }

        .clearfix {
            width: 100%;
        }

        .workbooks{

            &.col-left {
                background-color: transparent;    
                padding-bottom: 0;
                margin-bottom: -3px;
            }

            tabs > pane.active {
                border-bottom-color: #dcdcdc;
            }

        }

        .col-left {
            width: 50%;
            float: left;
            padding: 8px;
            background-color: #dcdcdc;
            height: 100%;

            .form-group {
                position: relative;
            }

            .form-group:last-child {
                margin-bottom: 0;
            }

            &.md-parsed {
                background-color: #fbfbfb;
                overflow: auto;
            }

            .tools {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 14px;
                padding: 6px 0;
                border: 1px solid #ccc;
                margin: 0;

                .tools-group {
                    margin-left: 5px;
                    float: left;
                }

                button {
                    float: left;
                    padding: 5px 10px;
                    font-size: 12px;
                    line-height: 1.5;
                    background-color: white;
                    border:1px solid #ccc ;
                    border-left: 0;
                }
                button:first-child {
                    border-left:1px solid #ccc ;
                }
                button:hover {
                    background-color: #f0f0f0;
                }
            }
        }

        .editor-textarea {
            margin-top: 44px;
            height: 350px;
        }
        

    }    

    .btn.btn-submit{
        border: 0;
        background-color: #545353;
        padding: 4px 14px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
    .btn.btn-submit, .btn.btn-submit > * {
        color: white;
    }
}

