<div class="editor" ng-if="show">
    <div class="editor-background"></div>

    <div class="editor-content" ng-if="editor.type === 'fork' && mobile">
        <h3 class="headline"><i class="fa fa-code-fork"></i>&nbsp;フォーク先のブックを選択</h3>
        <ul class="list">
            <li ng-repeat="wb in editor.workbooks"
                ng-click="editor.selectedWorkbook = wb; editor.factory.savedCallback(editor);">
                <i class="fa fa-book"></i>&nbsp;
                <span ng-bind="wb.title"></span>
            </li>
        </ul>
    </div>

    <div class="editor-content" ng-if="editor.type !== 'fork' || !mobile">
        <h3 class="headline" ng-bind="editor.headline"></h3>
        <div class="cleafix">
            <div class="workbooks">
                <tabs ng-model="editor.selectedWorkbook" panes="editor.workbooks" empty-pane="{id:0}"></tabs>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-left text-field">
                <div class="form-group">
                    <input class="form-control editor-ready-focus" ng-model="editor.title" placeholder="タイトル">
                </div>

                <div class="form-group">
                    <textarea class="form-control editor-textarea" ng-model="editor.content"></textarea>

                    <div class="tools clearfix">
                        <div class="tools-group">
                            <button title="太文字 ({{CMD_KEY}}+B)" ng-mouseup="editor.boldEvent()"><i class="fa fa-bold"></i></button>
                            <button title="斜体 ({{CMD_KEY}}+I)" ng-mouseup="editor.italicEvent()"><i class="fa fa-italic"></i></button>
                            <button title="見出し" ng-mouseup="editor.headingEvent()">H</button>
                            <button title="横線"ng-mouseup="editor.strikethroughEvent()"><i class="fa fa-strikethrough"></i></button>
                        </div>
                        <div class="tools-group">
                            <button title="リンク ({{CMD_KEY}}+L)"><i class="fa fa-link"></i></button>
                            <button title="画像 " ng-click="editor.fileEvent()"><i class="fa fa-picture-o"></i></button>
                            <button title="コード ({{CMD_KEY}}+K)" ng-mouseup="editor.codeEvent()"><i class="fa fa-code"></i></button>
                        </div>
                    </div>
                    <input type="file" class="editor-fileupload">
                </div>

                <div class="dragdrop-cover" ng-if="editor.showCoverFlag">
                    <i class="fa fa-file-text"></i>
                    <p>ドロップして<br/>ソースコード、画像をアップ</p>
                </div>

            </div>
            <div class="col-left md-parsed">
                <div class="title" ng-bind="editor.title"></div>
                <div class="md-content" ng-bind-html="editor.htmlContent"></div>
            </div>
        </div>
        <div class="inline-group">
            <button class="btn btn-submit" ng-click="editor.factory.savedCallback(editor)">保存 <small><span ng-bind="CMD_KEY"></span>+S</small></button>
            <button class="btn btn-submit" ng-click="editor.factory.cancelCallback()">キャンセル　<small>Esc</small></button>
        </div>

    </div>
</div>
