.comment-box.dialog-box {

    .comment-empty {
        width: 100%;
        margin-top: 20px;
        vertical-align: middle;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
    }    
}