<div class="dialog">
    <div class="dialog-background"></div>

    <div class="comment-box dialog-box">
        <div ng-if="comment.user != null" class="comment-text">

            <textarea ng-model="comment.editor.text"></textarea>
            <button ng-click="comment.submit()">send</button>
        </div>
        <div ng-if="comment.comments.length == 0" class="comment-empty">
            このスニペットにコメントがありません
        </div>
        <ul ng-if="comment.comments.length > 0" class="comment-list">
            <li class="comment clearfix" ng-repeat="c in comment.comments">
                <div class="myleft profile">
                    <div ng-if="c.account.profile_image.length > 0" class="profile-image">
                        <img ng-src="{{c.account.profile_image}}">
                    </div>
                    <div ng-if="c.account.profile_image.length === 0" class="profile-image">
                        <img src="assets/images/default-user-image.png" alt="default-image">
                    </div>
                    <div class="name">{{c.account.name}}</div>
                </div>
                <div class="myleft mycomment">
                    <div class="comment_me">{{c.comment}}</div>
                    <div class="time">{{c.updated_at.substring(0,c.updated_at.indexOf(" "))}}</div>
                </div>
                <!-- <button ng-if="c.editable" ng-click="comment.destroy(c)"><i class="fa fa-trash-o"></i></button> -->
            </li>
        </ul>
    </div>
</div>
