.comment-box.dialog-box {

    .comment-empty {
        width: 100%;
        margin-top: 20px;
        vertical-align: middle;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
    }
}


.profile-image {
    width: 67px;
    height: 67px;
    
    > {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;      
    }
}

  .name{
    font-size: 16px;
    color: #999999;
  }


.sen {
  width: 400px;
  margin-right: auto;
  margin-left : auto;
}

.comment-box.dialog-box {
    padding: 20px;
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
    background-color: white;
}

li.comment {
  width: 100%;
}
.myleft.profile{
  width: 20%;
  margin-top: 15px;}

.myleft.mycomment{
  width: 80%;
}
.myleft.mycomment > .comment_me {
  width: 100%;
  word-break: break-all;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-right: 40px;
  border-top: 1px solid #999999;
  color: #999999;
}

.time{
  width: 100%;
  height: 30%;
  color: #999999;
  font-size: 13px
}

.myleft{
    float: left;
}

.comment-box.dialog-box .comment-list {
  max-height: 300px;
  overflow: scroll;
  margin-right: 20px;
}


.comment-box.dialog-box textarea .comment-text{
  background-color: blue;
}

li {
  list-style: none;
}
