body {
  margin: 0;
}

html, body {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.list-col {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: gray;
    overflow: auto;
    width: 300px;

    .logo {
        display: block;
    }

    .logo > img{
        padding: 10px;
    }

    .list-body {
        display: block
    }
}


.list-col .list-body > .list-item {
    display: block;
    width: 100%;
    color: white;
}

.list-col .list-body > .list-item > a.active {
    background-color: #1C295D;
}

.list-col .list-body > .list-item > a {
    display: block;
    color: white;
    padding: 20px;
}

.list-workbook.list-col {
    left: 0;
    background-color: #353f67;
}

.show-workbook.list-col {
    left: 300px;
    background-color: #e2e3e6;
}