$wrapper-width: 900px;

$navbar-height: 50px;

$list-workbook-width: 250px;
$list-snippet-width: 250px;

$list-workbook-menu-padding: 6px 14px;

$medium-large-font-size: 16px;
$medium-font-size: 14px;

$large-desktop-width: 1200px;
$desktop-width: 960px;
$tablet-width: 768px;
$phone-width: 480px;

$black: #515151;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.clearfix { display: inline-block; }

* {

    font-family: ヒラギノ角ゴ Pro Regular ,"Roboto", Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
  margin: 0;
}

html, body {
    min-width: 100%;
    height: calc(100% + #{$navbar-height});
    min-height: calc(100% + #{$navbar-height});
}

p,input,h1,h2,h3,h4,h5,a {color: #515151;}

a, a:hover {
    text-decoration: none;
}

input {
    outline: 0;
}

small {
    font-size: 80%;
}

.btn:hover {
    cursor: pointer;
}

@media(max-width: $phone-width) {
  .no-mb {
    display:none;
  }

}

/* Large desktop */

tags-input .tags, tags-input .tags.focused {
    box-shadow: none;
}

.page-title {
    width: 100%;
    height: 90px;
    margin-top: 60px;
    line-height: 100px;
    font-size: 30px;
    text-align: center;

    small {
        font-size: 60%;
    }
}

navbar {

    display: block;
    height: $navbar-height;
    width: 100%;

    .navbar {
        display: block;
        width: 100%;
        background-color: #5E5E5E;
    }

    .logo {
        display: inline-block;
        float: left;
    }

    .logo > img{
        padding: $list-workbook-menu-padding;
    }

    .workbook-tabs {
        float: left;
        margin: 0;
        list-style-type: none;
        color: white;
    }

    .workbook-tabs li {
        float: left;
        height: $navbar-height;
        line-height: $navbar-height;
        vertical-align: middle;
        padding: 0 20px;
    }

    @media(max-width: $phone-width) {
        .workbook-tabs {
            display: none;
        }
    }

    .menu-tools {
        float: right;
        display: inline-block;

        .menu-item {
            float: left;
            position: relative;
            display: inline-block;
            height: 50px;
            padding: 9px;
            i {
                font-size: 26px;
            }

            small {
                color: white;
            }

            .icon {
                display: block;
                width: auto;
                height: 100%;
            }
            .icon.icon-plus {
                margin: 0 auto;
                height: calc(100% - 13px);
            }



            .profile-image {
                width: 44px;
                height: 44px;
                padding: 3px;
            }
            .menu-collapse {
                display: block;
                position: absolute;
                right: 0;
                width: 200px;
                z-index: 4;
                padding: 0;
                margin: 9px 4px;
                border: 1px solid #ccc;
                background-color: white;
                li {
                    display: block;
                }

                li > a {
                    width: 100%;
                    display: block;
                }
                li > span {
                    display: inline-block;
                }
                li > a, li > span {
                    padding: 10px 14px;
                }

                li:not(.disable):hover {
                    background-color: #f0f0f0;
                }

                li.disable {
                    opacity: 0.4;
                }
            }
        }
    }

    .menu-collapse-background {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .workbook-tabs {
        height: 50px;
    }

    .workbook-tabs > pane {
        line-height: 37px;
        width: 96px;
        padding: 6px 12px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 2px solid transparent;
        opacity: 0.4;
    }
    .workbook-tabs >pane.active {
        opacity: 1;
    }

}


.container {
    position: relative;
    width: 100%;
    height: calc(100% - #{$navbar-height});
}

.container > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inline-10, .inline-2 .inline-6{
    display: inline-block;
}
.inline-10 {
    width: 83%;
}
.inline-2 {
    width: 16%;
}
.inline-6 {
    width: 50%;
}

.title {
    width: 95%;
    display: inline-block;
    font-size: 24px;
    // border-bottom: 5px solid $black;
    margin-bottom: 15px;
    overflow: scroll;
    text-overflow: clip;
    word-wrap: break-word;
}

.md-content {
    img {
        max-width: 100%;
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        line-height: 1.428;
        font-size: $medium-font-size;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}


.form-control button {
    min-width: auto;
    margin: 0 5px;
}

.news {
    .list {
        padding-left: 10px;
        li {
            font-size: 150%;
        }
    }
}

.cells-wrapper {
    $workbook-show-width: $wrapper-width;

    .cell {
        display: block;
        width: $workbook-show-width/3;
        border-right: 1px dashed $black;

        &, > .cell-wrapper {
            min-height: $workbook-show-width/5;
            max-height: 600px;
            overflow: hidden;
        }

        &.overflow .more {
            display: block;
        }
        &.overflow {
            .more {
                height: 80px;
                display: block;
            }
        }


        .more {
            display: none;
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 24px;
            width: calc(100% - 24px);

            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)), color-stop(.7,#fff));

            transition:         all 0.5s ease;
              -o-transition:      all 0.5s ease;
              -moz-transition:    all 0.5s ease;
              -webkit-transition: all 0.5s ease;

            a {
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 24px;
            }

            &.show{
                height: 150px;

                img {
                    opacity: 0.6;

                    transform:          translateY(10px);
                    -o-transform:       translateY(10px);
                    -moz-transform:     translateY(10px);
                    -webkit-transform:  translateY(10px);
                }

            }

            img {
                display: block;
                margin: 0 auto;
                width: 100px;

                transform:translateY(0);
              -o-transform:translateY(0);
              -moz-transform:translateY(0);
              -webkit-transform:translateY(0);

              opacity: 0;
              transition:         all 0.5s ease;
              -o-transition:      all 0.5s ease;
              -moz-transition:    all 0.5s ease;
              -webkit-transition: all 0.5s ease;
            }
        }

        &.mostleft {
            border-right: 0;
        }

        > .cell-wrapper {
            position: relative;
            height: 100%;
            > .title > .index {color: #999; font-size: 80%;}
            > * { margin: 5px 12px; }
            > .line { border: 1px dashed $black; z-index: 0;}

            > .tools {
                position: absolute;
                right: 4px;
                top: 10px;

                button, .btn {
                    width: 30px;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid #ccc;
                    padding: 3px;
                    background-color: white;
                    border-radius: 3px;
                }

                button:hover, .btn:hover {
                    background-color: #eee;
                    cursor: pointer;
                }
            }

            > .follow {
                opacity: 0.7;
                font-style: italic;
                font-size: 12px;
            }

            small {
                font-size: 50%;
            }

            .html-content {
                font-size: 14px;
                h1 {
                    font-size: 250%;
                }
                h2 {
                    font-size: 200%;
                }
                h3 {
                    font-size: 150%;
                }
                p {
                    margin: 8px 0;
                }
            }

            .pre.prettyprint {
                border: 0;
                padding: 10px;
            }

            @media(max-width: $phone-width) {
                > .title { max-width: calc(100% - 88px); }
            }
        }
    }

    .title-cell h1{
        font-size: 30px;
        text-align: center;
        margin-top: 80px;
    }
    .title-cell h1 > small {
        font-size: 13px;
    }
    .title-cell .author {
        text-align: center;
    }
}

.wrapper {

    width: $wrapper-width;
    margin: 0 auto;
    display: block;
    position: relative;

    $workbook-show-width: $wrapper-width;

    @media(min-width: $large-desktop-width) {
        $workbook-show-width: 1200px;
        width: $workbook-show-width;

        .cell {
            width: $workbook-show-width / 4;
        }
    }

    @media(max-width: $desktop-width) {
        $workbook-show-width: 700px;
        width: $workbook-show-width;

        .cell {
            width: $workbook-show-width / 2;
        }
    }

    @media(max-width: $tablet-width) {
        $workbook-show-width: 460px;
        width: $workbook-show-width;

        .cell {
            width: $workbook-show-width/2;
        }
    }

    @media(max-width: $phone-width) {
        width: 100%;

        .cell {
            width: 100%;
        }
    }
}

.gray-section {
    background-color: #F8F8F8;
    width: 100%;
    padding: 0 13px 20px 13px;
}

.snippet-page.wrapper {

    max-width: 670px;

    .page-title {
      width: auto;
      height: auto;
        margin: 85px 125px 50px;
        line-height: normal;
        word-wrap: break-word;
    }

    .html-content {
        min-height: 300px;
    }

    .tools {
        display: block;
        position: absolute;
        top: 0 ;
        right: 0;

        > button {
            display: inline-block;
            width: 60px;
            color: #686868;
            background-color: white;
            border: 1px solid #eee;
            font-size: 18px;
            text-align: center;
            padding: 6px 0;
        }

        small {
            font-size: 70%;
        }

        > button:hover {
            cursor: pointer;
            background-color: #f0f0f0;
        }
    }

    .reference {
      margin-bottom: 30px;
      opacity: 0.5;
    }

    @media(max-width: $phone-width) {
      .page-title {
        margin: 85px 85px 0;
      }

      .tools > button {
        width: 40px;
      }

        .html-content {
            margin: 12px;
        }
    }
}

.html-content {
    img {
        max-width: 100%;
        display: block;
    }
}

.dialog .workbook {
    .btn {
        margin: 0;
    }
}

.workbook-list {
    $workbook-list-width: $wrapper-width;
    margin: 150px auto 0 auto;
    display: block;
    width: $workbook-list-width;

    .index {
        color: #999;
        font-size: 80%;
    }

    .group {
        width: $workbook-list-width/3;
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        border-left: 3px dashed $black;

        .inner-group {
            margin-bottom: 50px;
        }

        .item {
            font-size: 16px;
            margin-bottom: 11px;
        }
    }

    .group:first-child {
        border-left-color: transparent;
    }

    @media(max-width: $desktop-width) {
        $workbook-list-width: 700px;
        width: $workbook-list-width;
    }

    @media(max-width: $tablet-width) {
        $workbook-show-width: 100%;
        width: $workbook-show-width;

        .group {
            width: calc(50% - 30px);
        }
    }

    @media(max-width: $phone-width) {
        width: 100%;

        .group {
            width: 100%;
            border-left: 0;
            margin-bottom: 30px;
        }
    }
}

.btn-dotted {
    background-color: transparent;
    border: 2px dotted $black;
    border-radius: 2px;
    margin-top: 10px;
}
button:focus {
    outline: 0;
}
.btn-dotted:hover {
    cursor: pointer;
}

// Toastr
.toast-message {
    ul {
        margin: 0 5px;
        li {
            color: white;
            list-style-type: disc;
        }

    }
}

// profile image
.profile-image {
    width: 67px;
    height: 67px;

    > img {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
    }
}

.btn-download {
    display: block;
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: green;
    color: white;

}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
