<div class="list-col list-workbook">
    <a ui-sref="workbook" class="logo">
        <img src="assets/images/logo.png" alt="BIBORO logo">
    </a>

    <div class="list-body">

        <!-- user workbook -->
        <div class="group">
            <div class="list-item" ng-repeat="wb in workbookCtrl.workbook.getAll()">
                <a ng-bind="wb.title" ui-sref-active="active" ui-sref="workbook.show({workbook: wb.id})"></a>
            </div>
        </div>

        <!-- preference -->
        <div class="group">
            <a ui-sref='.editor'>workbook.editor</a>
        </div>
    </div>
    
</div>

<div ui-view></div>