<div class="list-col list-workbook">
    
    <div class="list-body">

        <!-- default workbook -->
        <div class="group">
            <div class="list-item">
                <a ui-sref-active="active" ui-sref="workbook.news"><i class="fa fa-newspaper-o"></i>&nbsp;新聞</a>
            </div>
            <div class="list-item">
                <a ui-sref-active="active" ui-sref="workbook.show({workbook: 'me'})"><i class="fa fa-book"></i>&nbsp;マイ・ブック</a>
            </div>
        </div>

        <!-- user workbook -->
        <div class="group">
            <label class="group-label clearfix">
                <span class="left">個人ブック</span>
                <a class="right" ><i class="fa fa-bars"></i></a>
                <a class="right" ng-click="workbookCtrl.showCreateDialog()"><i class="fa fa-plus"></i></a>
            </label>
            <div class="list-item" ng-repeat="wb in workbookCtrl.workbook.getAll()">
                <a ng-bind="wb.title" ui-sref-active="active" ui-sref="workbook.show({workbook: wb.id})"></a>
            </div>

        </div>

        <!-- preference -->
        <div class="group">
            
        </div>
    </div>
    
</div>

<div ui-view></div>

<dialog 
    open 
    ng-if="workbookCtrl.createDialog.show" 
    outside-clicked-callback="workbookCtrl.createDialog.outsideClickedCallback" >
    <div ng-include="'app/components/workbook/workbook.createDialog.html'"></div>
</dialog>