<div class="workbook editDialog">
    <div class="form-control inline">
        <label>ブック名</label><br/>
        <input type="text" ng-model="workbookCtrl.editDialog.title" placeholder="ブック名を編集"/> 
        <button ng-click="workbookCtrl.editDialogRenameWorkbookTitleEvent()" class="btn btn-default">
            <i class="fa fa-pencil"></i>
        </button>
    </div>

    <!-- <div class="form-control">
        <label>コラボレーター</label><br/>
        <input type="text">
    </div>
 -->
    <button type="submit">更新</button>
</div>