<div ng-if="workbookCtrl.notfound">
    <h1 class="page-title">404 NOT FOUND</h1>
</div>
<div ng-if="!workbookCtrl.notfound">
    <h1 class="page-title">
        <i class="fa fa-book"></i> 
        <span ng-bind="workbookCtrl.workbook.getCurrentWorkbook().title"></span>&nbsp;
        <small ng-if="workbookCtrl.workbook.getCurrentWorkbook().account_id == workbookCtrl.account.getUserId()">
            <i class="btn fa fa-pencil" ng-click="workbookCtrl.showEditDialog()"></i>
            <i class="btn fa fa-trash" ng-click="workbookCtrl.deleteWorkbook()"></i>
        </small>
    </h1>
    <div class="workbook-show wrapper cells-wrapper">
        <div class="cell"
            ng-repeat="snippet in workbookCtrl.snippet.getSnippets()"
            hover="snippet.showTools">
            <div class="cell-wrapper">
                <div class="line"></div>
                <h3 class="title">
                    <span ng-bind="snippet.title"></span>&nbsp;
                    <span class="index" ng-bind="snippet.index"></span>
                </h3>

                <div class="follow" ng-if="snippet.reference != null">
                    <a ng-if="snippet.reference.method === 2" ng-href="{{snippet.reference.target}}">Ref
                        &nbsp;<span ng-bind="workbookCtrl.extractDomain(snippet.reference.target)"></span>
                    </a>
                    <a ng-if="snippet.reference.method === 1" ui-sref="snippet({snippet: snippet.reference.target})">Fork snippets
                    </a>
                </div>

                <div class="tools" ng-if="snippet.showTools">
                    <a class="btn" ui-sref="snippet({snippet: snippet.id})">
                        <i class="fa fa-sign-out"></i>                    
                    </a>
                </div>

                <div ng-bind-html="workbookCtrl.markdown.parseMd(snippet.content)" class="html-content"></div>

                <div class="more" ng-class="{'show' :snippet.showTools}">
                    <a ui-sref="snippet({snippet: snippet.id})">
                        <img src="assets/images/ic_arrow_down.gif">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <dialog 
        open 
        ng-if="workbookCtrl.editDialog.show" 
        outside-clicked-callback="workbookCtrl.editDialog.outsideClickedCallback" >
        <div ng-include="'app/components/workbook/workbook.editDialog.html'"></div>
    </dialog>

    <dialog 
        open 
        ng-if="workbookCtrl.deleteWorkbookDialog.show" 
        outside-clicked-callback="workbookCtrl.deleteWorkbookDialog.outsideClickedCallback" >
        <div ng-include="'app/components/workbook/workbook.deleteDialog.html'"></div>
    </dialog>

</div>