<div class="workbook editDialog">
    <div class="form-group">
        <label>ブック名</label><br/>
        <div class="inline-10">
            <input 
                type="text" 
                class="form-control"
                ng-model="workbookCtrl.editDialog.title" 
                placeholder="ブック名を編集"/> 
        </div>
        <div class="inline-2">
            <button ng-click="workbookCtrl.editDialogUpdateWorkbookEvent()" class="btn btn-default">
                <i class="fa fa-pencil"></i>
            </button>
        </div>
    </div>
</div>