tabs:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;    
  clear: both; 
  visibility:hidden;
}

tabs { 
    display: inline-block; 
} 

tabs > pane {
    float: left;
    line-height: 30px;
    display: inline-block;
    margin-bottom: -1px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}    
