
dialog, .dialog {

    /* remove default styles */
    background-color: transparent !important;
    border: 0 !important;
    top: 0;

    .dialog-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 200;
        opacity: 0.6;    
    }

    .dialog-open {
      /* Blur and de-color */
        -webkit-filter: blur(5px) grayscale(50%);
    }

    &.markdown_help .dialog-box {
        width: 760px;
        left: calc(50% - 430px);
    }
    .dialog-box small {
      color: inherit;  
    }

    .dialog-box .error-message {
      color: red;
    }

    .dialog-box .dialog-message {
      /*height: 90px;*/
    }
    textarea {
      display: block;
      margin-bottom: 10px;
      width: 80%;
      height: 100px;
      font-size: 15px;
    }
    .dialog-box .btn {
      text-align: center;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
    }
    .error {
      color: red;
      margin: 10px 0;
      font-weight: bold;
    }
}

.dialog-box {
  position: fixed;
  padding: 10px 30px;
  background: white;
  border-radius: 5px;
  min-height: 180px;
  top: 50px;
  z-index: 201;
  width: 550px;
  left: calc(50% - 275px);
}

@media(max-width: $tablet-width) {
    .dialog-box {
        width: 480px;
        left: calc(50% - 240px);
    }
}

@media(max-width: $phone-width) {
    .dialog-box {
        width: calc(100% - 14px);
        margin-left: 7px;
        margin-right: 7px;
        left: 0;
    }
}
